In [1]:
import geopandas as gp
import pandas as pd
import datetime as dt
import numpy as np

In [17]:
def import_geojson(geojson):
    '''imports geojson to notebook and reads with geopandas'''
    filename = geojson
    data = gp.read_file(filename)
    return(data)

def convert_data(data):
    '''converts parameter column to dict then df reads with Pandas'''
    data_dict = data['parameter'][0]
    pd_df = pd.DataFrame.from_dict(data_dict)
    df = pd.DataFrame(pd_df)
    return(df)

def remove_annual(df):
    monthly = df.drop(df.index[12::13])
    return(monthly)

def to_datetime(monthly):
    def append(dfseries):
        dfseries = dfseries[:4] + '-' + dfseries[4:]
        return dfseries

    monthly['ds']= monthly.index
    monthly['ds']= monthly['ds'].astype(str)
    monthly['ds'] = monthly['ds'].apply(append)
    monthly = monthly.set_index('ds')
    
    monthly.index = pd.to_datetime(monthly.index)
    return(monthly)

In [13]:
data = import_geojson('NASA/POWER_Point_Monthly_Timeseries_1981_2020_046d2199N_119d0837W_LST.json')
df = convert_data(data)
df.head()

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
198401,0.48,67.89,0.70,3.13,-999.0,-999.0,0.29,-999.0,1.49,2.18,-999.0,-999.0,-999.0,-999
198402,0.46,70.16,0.72,4.68,-999.0,-999.0,0.24,-999.0,2.16,3.35,-999.0,-999.0,-999.0,-999
198403,0.53,66.52,0.74,6.90,-999.0,-999.0,0.21,-999.0,3.68,5.14,-999.0,-999.0,-999.0,-999
198404,0.55,67.84,0.76,9.15,-999.0,-999.0,0.15,-999.0,5.07,6.92,-999.0,-999.0,-999.0,-999
198405,0.55,69.68,0.74,10.82,-999.0,-999.0,0.19,-999.0,6.04,8.00,-999.0,-999.0,-999.0,-999

In [15]:
monthly = remove_annual(df)

In [18]:
df = to_datetime(monthly)
df

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
ds,,,,,,,,,,,,,,
1984-01-01,0.48,67.89,0.70,3.13,-999.00,-999.00,0.29,-999.00,1.49,2.18,-999.00,-999.00,-999.00,-999
1984-02-01,0.46,70.16,0.72,4.68,-999.00,-999.00,0.24,-999.00,2.16,3.35,-999.00,-999.00,-999.00,-999
1984-03-01,0.53,66.52,0.74,6.90,-999.00,-999.00,0.21,-999.00,3.68,5.14,-999.00,-999.00,-999.00,-999
1984-04-01,0.55,67.84,0.76,9.15,-999.00,-999.00,0.15,-999.00,5.07,6.92,-999.00,-999.00,-999.00,-999
1984-05-01,0.55,69.68,0.74,10.82,-999.00,-999.00,0.19,-999.00,6.04,8.00,-999.00,-999.00,-999.00,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0.69,34.55,0.73,9.67,16.05,0.35,0.18,8.60,6.65,7.10,124.89,1.48,132.73,-999
2020-09-01,0.57,42.00,0.63,7.58,9.58,0.20,0.17,5.65,4.32,4.81,78.59,1.37,87.06,-999
2020-10-01,0.59,51.23,0.70,5.32,6.95,0.12,0.18,4.88,3.13,3.68,56.94,1.10,67.59,-999
2020-11-01,0.48,61.96,0.68,3.50,3.64,0.04,0.17,2.96,1.67,2.38,29.96,0.76,42.98,-999
2020-12-01,0.38,68.55,0.66,2.71,2.26,0.02,0.17,2.02,1.02,1.80,18.22,0.51,31.94,-999

In [30]:
def geojson_to_csv(geojson):
    data = import_geojson(geojson)
    df1 = convert_data(data)
    monthly = remove_annual(df1)
    df = to_datetime(monthly)
    return(df)

In [29]:
loc = data['geometry'][0]
print(type(loc))

<class 'shapely.geometry.point.Point'>

In [23]:
loc('POINT Z')

TypeError: 'GeoSeries' object is not callable

In [31]:
df = geojson_to_csv('NASA/POWER_Point_Monthly_Timeseries_1981_2020_047d6202N_122d1400W_LST.json')
df

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
ds,,,,,,,,,,,,,,
1984-01-01,0.46,59.82,0.67,2.96,-999.00,-999.00,0.23,-999.00,1.38,2.00,-999.00,-999.00,-999.00,-999
1984-02-01,0.39,78.72,0.69,4.52,-999.00,-999.00,0.16,-999.00,1.77,3.09,-999.00,-999.00,-999.00,-999
1984-03-01,0.52,65.93,0.73,6.77,-999.00,-999.00,0.25,-999.00,3.51,4.99,-999.00,-999.00,-999.00,-999
1984-04-01,0.52,68.37,0.76,9.07,-999.00,-999.00,0.19,-999.00,4.66,6.88,-999.00,-999.00,-999.00,-999
1984-05-01,0.52,64.45,0.76,10.79,-999.00,-999.00,0.23,-999.00,5.56,8.16,-999.00,-999.00,-999.00,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0.62,39.58,0.73,9.60,14.45,0.31,0.10,7.19,5.92,7.00,111.28,1.71,130.92,-999
2020-09-01,0.50,49.23,0.62,7.46,8.38,0.17,0.10,4.66,3.73,4.64,68.26,1.32,84.21,-999
2020-10-01,0.48,64.17,0.69,5.16,5.71,0.09,0.09,3.42,2.48,3.56,45.31,1.10,65.45,-999
2020-11-01,0.36,75.93,0.67,3.34,2.73,0.02,0.09,2.07,1.21,2.24,21.77,0.60,40.31,-999
2020-12-01,0.37,74.51,0.65,2.54,2.01,0.02,0.09,1.89,0.93,1.65,16.45,0.46,29.29,-999