In [1]:
import json_to_csv

import geopandas as gp
import pandas as pd
import datetime as dt
import numpy as np

sample1 = POWER_Point_Monthly_Timeseries_1981_2020_047d6155N_122d2917W_LST.xlsx

sample2 = POWER_Point_Monthly_Timeseries_1981_2020_047d6155N_122d2917W_LST.csv

sample3 = POWER_Point_Monthly_Timeseries_1981_2020_047d5590N_122d7195W_LST.json

In [31]:
df1 = json_to_csv.import_geojson('NASA/POWER_Point_Monthly_Timeseries_1981_2020_047d5590N_122d7195W_LST.json')
df1

,parameter,geometry
0,"{'ALLSKY_KT': {'198401': 0.46, '198402': 0.39,...",POINT Z (-122.71950 47.55900 110.01000)

In [32]:
df2 = json_to_csv.convert_data(df1)
df2.head()

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
198401,0.46,59.82,0.67,2.96,-999.0,-999.0,0.23,-999.0,1.38,2.00,-999.0,-999.0,-999.0,-999
198402,0.39,78.72,0.69,4.52,-999.0,-999.0,0.16,-999.0,1.77,3.09,-999.0,-999.0,-999.0,-999
198403,0.52,65.93,0.73,6.77,-999.0,-999.0,0.25,-999.0,3.51,4.99,-999.0,-999.0,-999.0,-999
198404,0.52,68.37,0.76,9.07,-999.0,-999.0,0.19,-999.0,4.66,6.88,-999.0,-999.0,-999.0,-999
198405,0.52,64.45,0.76,10.79,-999.0,-999.0,0.23,-999.0,5.56,8.16,-999.0,-999.0,-999.0,-999

In [64]:
df3 = remove_annual(df2)
df3

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
198401,0.46,59.82,0.67,2.96,-999.00,-999.00,0.23,-999.00,1.38,2.00,-999.00,-999.00,-999.00,-999
198402,0.39,78.72,0.69,4.52,-999.00,-999.00,0.16,-999.00,1.77,3.09,-999.00,-999.00,-999.00,-999
198403,0.52,65.93,0.73,6.77,-999.00,-999.00,0.25,-999.00,3.51,4.99,-999.00,-999.00,-999.00,-999
198404,0.52,68.37,0.76,9.07,-999.00,-999.00,0.19,-999.00,4.66,6.88,-999.00,-999.00,-999.00,-999
198405,0.52,64.45,0.76,10.79,-999.00,-999.00,0.23,-999.00,5.56,8.16,-999.00,-999.00,-999.00,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,0.62,39.58,0.73,9.60,14.45,0.31,0.10,7.19,5.92,7.00,111.28,1.71,130.92,-999
202009,0.50,49.23,0.62,7.46,8.38,0.17,0.10,4.66,3.73,4.64,68.26,1.32,84.21,-999
202010,0.48,64.17,0.69,5.16,5.71,0.09,0.09,3.42,2.48,3.56,45.31,1.10,65.45,-999
202011,0.36,75.93,0.67,3.34,2.73,0.02,0.09,2.07,1.21,2.24,21.77,0.60,40.31,-999
202012,0.37,74.51,0.65,2.54,2.01,0.02,0.09,1.89,0.93,1.65,16.45,0.46,29.29,-999

In [71]:
df4 = to_datetime(df3)
df4

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
ds,,,,,,,,,,,,,,
1984-01-01,0.46,59.82,0.67,2.96,-999.00,-999.00,0.23,-999.00,1.38,2.00,-999.00,-999.00,-999.00,-999
1984-02-01,0.39,78.72,0.69,4.52,-999.00,-999.00,0.16,-999.00,1.77,3.09,-999.00,-999.00,-999.00,-999
1984-03-01,0.52,65.93,0.73,6.77,-999.00,-999.00,0.25,-999.00,3.51,4.99,-999.00,-999.00,-999.00,-999
1984-04-01,0.52,68.37,0.76,9.07,-999.00,-999.00,0.19,-999.00,4.66,6.88,-999.00,-999.00,-999.00,-999
1984-05-01,0.52,64.45,0.76,10.79,-999.00,-999.00,0.23,-999.00,5.56,8.16,-999.00,-999.00,-999.00,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0.62,39.58,0.73,9.60,14.45,0.31,0.10,7.19,5.92,7.00,111.28,1.71,130.92,-999
2020-09-01,0.50,49.23,0.62,7.46,8.38,0.17,0.10,4.66,3.73,4.64,68.26,1.32,84.21,-999
2020-10-01,0.48,64.17,0.69,5.16,5.71,0.09,0.09,3.42,2.48,3.56,45.31,1.10,65.45,-999
2020-11-01,0.36,75.93,0.67,3.34,2.73,0.02,0.09,2.07,1.21,2.24,21.77,0.60,40.31,-999
2020-12-01,0.37,74.51,0.65,2.54,2.01,0.02,0.09,1.89,0.93,1.65,16.45,0.46,29.29,-999

In [76]:
def geojson_to_csv(geojson):
    '''convert geojson to csv'''
    '''input must be in 'NASA/<file.json>' format, or other path name'''
    data = import_geojson(geojson)
    df1 = convert_data(data)
    monthly = remove_annual(df1)
    df = to_datetime(monthly)
    if isinstance(df.index, pd.core.indexes.datetimes.DatetimeIndex) != True:
        raise TypeError('index type must be DatetimeIndex')
    else:
        pass
    return(df)

In [79]:
df = json_to_csv.geojson_to_csv('NASA/POWER_Point_Monthly_Timeseries_1981_2020_047d5590N_122d7195W_LST.json')
df

,ALLSKY_KT,CLOUD_AMT,CLRSKY_KT,TOA_SW_DWN,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SRF_ALB,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX
ds,,,,,,,,,,,,,,
1984-01-01,0.46,59.82,0.67,2.96,-999.00,-999.00,0.23,-999.00,1.38,2.00,-999.00,-999.00,-999.00,-999
1984-02-01,0.39,78.72,0.69,4.52,-999.00,-999.00,0.16,-999.00,1.77,3.09,-999.00,-999.00,-999.00,-999
1984-03-01,0.52,65.93,0.73,6.77,-999.00,-999.00,0.25,-999.00,3.51,4.99,-999.00,-999.00,-999.00,-999
1984-04-01,0.52,68.37,0.76,9.07,-999.00,-999.00,0.19,-999.00,4.66,6.88,-999.00,-999.00,-999.00,-999
1984-05-01,0.52,64.45,0.76,10.79,-999.00,-999.00,0.23,-999.00,5.56,8.16,-999.00,-999.00,-999.00,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0.62,39.58,0.73,9.60,14.45,0.31,0.10,7.19,5.92,7.00,111.28,1.71,130.92,-999
2020-09-01,0.50,49.23,0.62,7.46,8.38,0.17,0.10,4.66,3.73,4.64,68.26,1.32,84.21,-999
2020-10-01,0.48,64.17,0.69,5.16,5.71,0.09,0.09,3.42,2.48,3.56,45.31,1.10,65.45,-999
2020-11-01,0.36,75.93,0.67,3.34,2.73,0.02,0.09,2.07,1.21,2.24,21.77,0.60,40.31,-999
2020-12-01,0.37,74.51,0.65,2.54,2.01,0.02,0.09,1.89,0.93,1.65,16.45,0.46,29.29,-999